.results-container {
    display: flex;
    flex-direction: column;
}

.results-masonry {
    columns: 3;
    width: 70%;
    margin: auto;
}

.pagination-container {
    margin: 20px 0;
}

.pagination {
    margin: auto;
}

.result-card {
    /* background-color: rgba(46,139,87, .5); */
    background-color: rgba(191,179,59, .7);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    break-inside: avoid;
    margin-bottom: 15px;
    padding-bottom: 25px;
}

.result-title {
    min-height: 50px;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.result-card img {
    width: 80%;
}

.cur-search {
    margin: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.overlay button {
    margin-bottom: 7px;
    margin-right: 0 !important;
}

.info-error-msg {
    width: 70%;
    background-color: white;
    color: darkred;
}

@media screen and (max-width: 750px) {
    .results-masonry {
        columns: 1;
    }   
}

@media screen and (max-width: 900px) and (min-width: 750px){
    .results-masonry {
        columns: 2;
    }   
}