.watering-container {
    width: 100%;
}

.watering-card {
    width: 65%;
    margin: 25px auto 5px auto;
    padding: 10px 15px;
    background-color: var(--off-white);
    border: 2px solid #222;
}

.yellow-shadow {
    box-shadow: 6px 6px 0 0 #bfb33b;
}

.blue-shadow {
    box-shadow: 6px 6px 0 0 #3bbfcb;
}

.watering-card-title {
    font-family: 'roboto-bold';
    font-size: 25px;
    margin-bottom: 20px;
}

.suggestion {
    display: grid;
    grid-template-columns: .1fr 1fr ;
    margin: 7px auto;
    width: 60%;
    grid-gap: 12px;
}

.suggestion img {
    width: 150px;;
}

.suggestion div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watered-today {
    margin: 7px;
}

.watered-today img {
    width: 150px;
}

.watered-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.watering-form {
    display: flex;
    justify-content: space-around;
}

.watering-form-input{
    width: 80%;
}

@media screen and (max-width: 550px) {
    .watered-container {
        flex-direction: column;
    }
    .watered-container div{
        margin-bottom: 10px;
    }
    .watered-today img {
        width: 200px;
    }
    .watering-form {
        display: block;
    }
    .watering-form-input {
        width: 100%;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 800px) {
    .watering-card {
        width: 95%;
    }
    .suggestion {
        width: 80%;
    }
}