.nav-bar {
    margin: 15px 0 0 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 25px;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
  
.nav-title {
    font-family: 'synthemesc';
    font-size: 40px;
    color: var(--teal);
}

.nav-left {
    font-family: 'roboto-medium';
    display: flex;
    align-items: center;
}

.nav-left div:not(:last-child) {
    margin-right:20px; 
}

.nav-right {
    display: flex;
    font-family: 'roboto-medium';
    justify-content: flex-end;
    align-items: center;
}