.nav-bar {
    margin: 15px 0 0 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 25px;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
  
.nav-title {
    font-family: 'synthemesc';
    font-size: 40px;
    color: var(--teal);
}

.nav-left {
    font-family: 'roboto-medium';
    display: flex;
    align-items: center;
}

.right-20 {
    margin-right:20px; 
}

.nav-right {
    display: flex;
    font-family: 'roboto-medium';
    justify-content: flex-end;
    align-items: center;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
  }

.nav-dropdown-content {
    z-index: 1;
    display: none;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-in-out forwards;
}

.nav-dropdown-item {
    padding: 10px;
}

.nav-dropdown-item:hover {
    cursor: pointer;
    background-color: var(--pink);
}

@keyframes slideDown {
    0% {
    opacity: 0;
    transform: translateY(-10px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}  