.search-container {
    width: 50%;
    margin: 15px auto 0 auto;
}

.search-form {
    display: flex;
    padding: 5px;
}

@media screen and (max-width: 550px) {
    .search-container {
        width: 90%;
    }
}