@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

* { 
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: darkgreen;
  font-family: 'arimo-regular'
}

.btn-container button:hover {
  background-color: green;
}

.btn-container button:not(:last-child) {
  margin-right: 20px;
}