@font-face {
  font-family: 'roboto-bold';
  src: URL('./fonts/roboto/Roboto-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'roboto-medium';
  src: URL('./fonts/roboto/Roboto-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'arimo-regular';
  src: URL('./fonts/arimo/Arimo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'synthemesc';
  src: URL('./fonts/synthemesc/Synthemesc.otf') format('opentype');
}

* { 
  box-sizing: border-box;
}

:root {
  --off-white: #f9f5f1;
  --light-grey: rgb(160,177,173);
  --pink: rgb(219,139,200);
  --teal: #37716C;
  --light-blue: #C4D8D6;
  --green: #6D9F66;
  --tan: rgb(237,229,221)
}

body {
  margin: 0;
  background-color: var(--off-white);
  font-family: 'arimo-regular';
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  background-color: var(--light-grey);
  font-family: 'arimo-regular'
}

.btn-container button:hover {
  background-color: var(--pink);
}

.btn-container button:not(:last-child) {
  margin-right: 20px;
}

.form-container div {
  width: 50%;
  margin: auto;
}

.form-container input {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.form-container img {
  width: 50%;
  margin: 15px 0;
}

@media screen and (max-width: 550px) {
  .form-container div {
      width: 90%;
      margin: auto;
  }
  .form-container img {
    width: 90%;
  }
}