.your-plant-container {
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 45px;
}

.your-plant-container img {
    width: 100%;
}

.plant-title {
    padding: 14px 0 14px 0;
    font-family: 'roboto-bold';
}

.plant-card-container {
    background-color: var(--tan);
    padding-bottom: 15px;
}

.water-needs {
    cursor: pointer;
    width: fit-content;
    margin: 15px auto 0 auto;
}

.editing-link {    
    margin-top: 25px;
}

.editing-link a {
    width: 200px;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: var(--light-blue);
}

.editing-link a:hover {
    background-color: var(--pink);
}

.card-title-container {
    position: relative;
}

.card-title-container button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 7px;
}

.card-title-container button:hover {
    cursor: pointer;
    background-color: darkred;
    border: 1px solid darkred;
}


@media screen and (max-width: 550px) {
    .your-plant-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) and (min-width: 550px) {
    .your-plant-container {
        grid-template-columns: 1fr 1fr;
    }
}